{% extends 'base.html' %}


{% block contenido %}  

{% load static %} 

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div class="container">

    <div class="row justify-content-center">

        <div class="card col-12 col-md-6 offset-md-3 d-flex cajaLogin">

            <div class="card-body col-12">

                <h2 style="text-align: center;">Inicio Sesion</h2>

                <form action="" style="text-align: center;" method="POST">
                    {% csrf_token %}
                    
                    <pre>   Usuario:    <input type="text" placeholder="Usuario" name="usuario" id="loginUsuario"></pre>
                    <pre>Contraseña:    <input type="password" placeholder="Contraseña" name="contrasenna" id="loginContrasenna"></pre>
                    <button class="btn btn-primary " type="submit">Iniciar Sesión</button>
                </form>
                <div class="col-12 col-md-6 offset-md-3" style="text-align: center;">
                    {{mensaje}}
                </div>


            </div>
            
        </div>

    </div>

</div>


{% endblock %}