{% extends './base.html' %}

{% load static %} 

{% block contenido %}  
<link rel="stylesheet" href="{% static 'css/addservicios.css' %}">

<div class="Servicios col-12">
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark active" id="correosnoleidos-tab" data-bs-toggle="tab" data-bs-target="#correosnoleidos-tab-pane" type="button" role="tab" aria-controls="correosnoleidos-tab-pane" aria-selected="true">Correos no leidos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark" id="correosleidos-tab" data-bs-toggle="tab" data-bs-target="#correosleidos-tab-pane" type="button" role="tab" aria-controls="correosleidos-tab-pane" aria-selected="true">Correos leidos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark" id="servicios-tab" data-bs-toggle="tab" data-bs-target="#servicios-tab-pane" type="button" role="tab" aria-controls="servicios-tab-pane" aria-selected="false">Trabajos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark" id="otros-tab" data-bs-toggle="tab" data-bs-target="#otros-tab-pane" type="button" role="tab" aria-controls="otros-tab-pane" aria-selected="false">Agregar Trabajo</button>
    </li>
    </ul>

    <div class="tab-content" id="myTabContent">
    
    <div class="tab-pane fade show active" id="correosnoleidos-tab-pane" role="tabpanel" aria-labelledby="correosnoleidos-tab" tabindex="0">
    <div class="row cajaCorreosLeidos">
        {% for correosnoleidos in correonoleido %}
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <h3 class="text-center">Correo: {{correosnoleidos.correo_contacto}}</h3>
        <h3 class="text-center">Correo: {{correosnoleidos.fecha_contacto}}</h3>
        <h3 class="text-center text-sm-center text-lg-start"><strong>Tipo de Trabajo:{{correosnoleidos.tipo_trabajo}} </strong></h3>
        
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha text-center text-sm-center text-lg-start">
        <span>
            <strong>Descripción: 
                <br>
                {{correosnoleidos.descripcion_trabajo}} 
            </strong>
        </span>
        <a href="{% url 'correoLeido' pk=correosnoleidos.pk %}" style="text-decoration: none;">
            <form action="{% url 'correoLeido' correosnoleidos.pk %}" method="POST">
                {% csrf_token %}
                <input type="checkbox" value="True" name="cambioEstado" id="cambioEstado">
                <input type="submit" value="Cambiar a leido" class="btn btn btn-outline-light">
            </form>
        </a>
    </a>
    
    </div>
    {% endfor %}
    </div>
    
    </div>

    <div class="tab-pane" id="correosleidos-tab-pane" role="tabpanel" aria-labelledby="correosleidos-tab" tabindex="0">
    <div class="row cajaCorreosLeidos">
        {% for correosleidos in correoleido %}
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <h3 class="text-center">Correo: {{correosleidos.correo_contacto}}</h3>
        <h3 class="text-center">Correo: {{correosleidos.fecha_contacto}}</h3>
        <h4 class="text-center text-sm-center text-lg-start"><strong>Tipo de Trabajo: {{correosleidos.tipo_trabajo}} </strong></h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha text-center text-sm-center text-lg-start">
    <span>
        <strong>Descripción: 
            <br>
            {{correosleidos.descripcion_trabajo}} 
        </strong>
    </span>
    <a href="{% url 'correoNoLeido' pk=correosleidos.pk %}" style="text-decoration: none;"><form action="{% url 'correoNoLeido' correosleidos.pk %}" method="POST">
            {% csrf_token %}
            <input type="checkbox" value="False" name="correoNoLeido" id="correoNoLeido">
            <input type="submit" value="Cambiar Estado" class="btn btn btn-outline-light">
        </form>
    </a>

    </div>
    {% endfor %}
    </div>
    
    </div>

    <div class="tab-pane" id="servicios-tab-pane" role="tabpanel" aria-labelledby="servicios-tab" tabindex="0">
        <div class="row">
            {% for servicio in servicios %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="cajaServicios">
                    <div class="row-col-auto">
                        <div class="col-12">
                            <img src="{{ servicio.imagen_trabajo }}" alt="servicios" class="img-fluid mx-auto d-block img_trabajo">
                        </div>
                        <div class="col-12">
                            <h5 class="text-center">{{servicio.nombre_trabajo}}</h5>
                        </div>
                        <div class="col-12">
                            {% load humanize %}
                            <h1 class="text-center text-sm-center text-lg-center"><strong>
                                <script>
                                    // Función para formatear el número en formato CLP sin los últimos dos dígitos y con símbolo $
                                    function formatNumberCLP(num) {
                                        num = num.toFixed(2);
                                        numSplit = num.split('.');
                                        int = numSplit[0];
                                        dec = numSplit[1].slice(0, -2); // Eliminar los últimos dos dígitos decimales
                                
                                        int = int.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                                        return "$" + int + (dec ? ',' + dec : ''); // Agregar el símbolo $ y decimales solo si existen
                                    }
                                    
                                    // Obtener el número sin formato
                                    var originalNumber = {{ servicio.precio }};
                                    
                                    // Formatear el número usando JavaScript
                                    var formattedNumberCLP = formatNumberCLP(originalNumber);
                                    
                                    // Mostrar el número formateado
                                    document.write(formattedNumberCLP);
                                </script>
                            </strong></h1>
                        </div>
                        <div class="col-12">
                            <h6 class="text-center text-sm-center text-lg-center">{{servicio.sub_titulo}}</h6>
                        </div>
                        <div class="row-col-auto text-center cajaDerecha">
                            <!-- Botones -->
                            <a class="btn btn-secondary " href="{% url 'modificar' pk=servicio.id %}">Modificar Servicio</a>
                            <div class="col-12" style="text-align: justify;" >
                                <span><br><strong>{{servicio.descripcion}}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
    <div class="tab-pane" id="otros-tab-pane" role="tabpanel" aria-labelledby="otros-tab" tabindex="0">

    <div class="row">

    <div class="card-body Addservicio">
        <form action="addservicio" method="POST" enctype="multipart/form-data" onsubmit="return enviarTrabajo()">
        {% csrf_token %}
        <h2 class="fw-bold">Ingresa el trabajo</h2>
        <div class="form-group row">
            <label for="nombreServicio" class="fw-bold">Nombre:</label>
            <input type="text" id="nombreServicio" name="nombreServicio" placeholder="Escribe el titulo de tu trabajo" class="form-control">
            <label for="subTitulo" class="fw-bold">Sub Titulo:</label>
            <input type="text" id="subTitulo" name="subTitulo" placeholder="Un subtitulo breve que explique el trabajo" class="form-control">
        </div>
        <br>
        <div class="form-group row">
            <label for="descripcionServicio" class="col-12 col-sm-4 col-form-label fw-bold">Descripción Servicio:</label>
            <div class="col-12 col-sm-8">
            <input type="text" class="form-control" id="descripcionServicio" name="descripcionServicio" placeholder="Una descripción breve de lo que es el trabajo">
            </div>
            <label for="precioServicio" class="col-12 col-sm-4 col-form-label fw-bold">Precio:</label>
            <div class="col-12 col-sm-8">
            <br>
            <input type="number" id="precioServicio" name="precioServicio" value="0">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-12 col-sm-4 col-form-label fw-bold">Imagen del trabajo:</label>
            <div class="col-12 col-sm-8">
            <div class="input-group">
                <!-- <input type="file" id="fotosServicio" name="fotosServicio" accept="image/*" required> -->
                <input type="file" id="fotosServicio" name="fotosServicio" accept="image/*" onchange="previsualizarImagen(event)" required>
                <img id="imagenPrevia" src="#" alt="Vista previa de la imagen" style="max-width: 200px;     max-height: 200px; display: none;">

            </div>
            </div>
        </div>
        <button class="btn btn-primary text-center" type="submit" >Enviar</button>
        </form>

    </div>
    
    </div>
    
    </div>
    
    </div>
    
</div>
    
<script src="{% static 'static/js/app.js' %}"></script>

{% endblock %}
