{% extends './base.html' %}
{% load static %} 

{% block contenido %}  


<div class="Servicios col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark active" id="correosnoleidos-tab" data-bs-toggle="tab" data-bs-target="#correosnoleidos-tab-pane" type="button" role="tab" aria-controls="correosnoleidos-tab-pane" aria-selected="true">Correos no leidos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark" id="correosleidos-tab" data-bs-toggle="tab" data-bs-target="#correosleidos-tab-pane" type="button" role="tab" aria-controls="correosleidos-tab-pane" aria-selected="true">Correos leidos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark" id="servicios-tab" data-bs-toggle="tab" data-bs-target="#servicios-tab-pane" type="button" role="tab" aria-controls="servicios-tab-pane" aria-selected="false">Servicios</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-dark" id="otros-tab" data-bs-toggle="tab" data-bs-target="#otros-tab-pane" type="button" role="tab" aria-controls="otros-tab-pane" aria-selected="false">Agregar servicio</button>
    </li>
    </ul>

    <div class="tab-content" id="myTabContent">
    
    <div class="tab-pane fade show active" id="correosnoleidos-tab-pane" role="tabpanel" aria-labelledby="correosnoleidos-tab" tabindex="0">
    <div class="row">
        {% for correosnoleidos in correonoleido %}
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <!-- <img src="{% static 'imagenes/calefont.png' %}" alt="imagenprueba" class="img-fluid rounded mx-auto d-block calefont" > -->
        <h3 class="text-center">Correo: {{correosnoleidos.correo_contacto}}</h3>
        <h3 class="text-center">Correo: {{correosnoleidos.fecha_contacto}}</h3>
        <h4 class="text-center text-sm-center text-lg-start"><strong>Tipo de Trabajo: {{correosnoleidos.tipo_trabajo}} </strong></h4>
        <!-- <h6 class="text-center text-sm-center text-lg-start">Precio solo contempla visita y presupuesto de trabajo</h6> -->
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha text-center text-sm-center text-lg-start">
        <span>
            <strong>Descripción: 
                <br>
                {{correosnoleidos.descripcion_trabajo}} 
            </strong>
        </span>
        <a href="{% url 'correoLeido' pk=correosnoleidos.pk %}" style="text-decoration: none;">
            <form action="{% url 'correoLeido' correosnoleidos.pk %}" method="POST">
                {% csrf_token %}
                <input type="checkbox" value="True" name="cambioEstado" id="cambioEstado">
                <input type="submit" value="Enviar" class="btn btn-primary">
            </form>
        </a>
    </a>
    
    <!-- <a class="btn btn-outline-light btn-sm" href="{% url 'addservicio' %}" role="button"  type="submit" >Marcar como leido -->
    </div>
    {% endfor %}
    </div>
    
    </div>

    <div class="tab-pane" id="correosleidos-tab-pane" role="tabpanel" aria-labelledby="correosleidos-tab" tabindex="0">
    <div class="row">
        {% for correosleidos in correoleido %}
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <!-- <img src="{% static 'imagenes/calefont.png' %}" alt="imagenprueba" class="img-fluid rounded mx-auto d-block calefont" > -->
        <h3 class="text-center">Correo: {{correosleidos.correo_contacto}}</h3>
        <h3 class="text-center">Correo: {{correosleidos.fecha_contacto}}</h3>
        <h4 class="text-center text-sm-center text-lg-start"><strong>Tipo de Trabajo: {{correosleidos.tipo_trabajo}} </strong></h1>
        <!-- <h6 class="text-center text-sm-center text-lg-start">Precio solo contempla visita y presupuesto de trabajo</h6> -->
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha text-center text-sm-center text-lg-start">
    <span>
        <strong>Descripción: 
            <br>
            {{correosleidos.descripcion_trabajo}} 
        </strong>
    </span>
    <a href="{% url 'correoNoLeido' pk=correosleidos.pk %}" style="text-decoration: none;">
        <form action="{% url 'correoNoLeido' correosleidos.pk %}" method="POST">
            {% csrf_token %}
            <input type="checkbox" value="False" name="correoNoLeido" id="correoNoLeido">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </form>
    </a>

    </div>
    {% endfor %}
    </div>
    
    </div>

    <div class="tab-pane" id="servicios-tab-pane" role="tabpanel" aria-labelledby="servicios-tab" tabindex="0">
    <div class="row">
        {% for servicio in servicios %}
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <img src="{{ servicio.imagen_trabajo }}" alt="servicios" class="img-fluid rounded mx-auto d-block servicios" >
        <h5 class="text-center">{{servicio.nombre_trabajo}}</h5>
        {% load humanize %}
        <h1 class="text-center text-sm-center 
        text-lg-start"><strong>
             <script>
                // Función para formatear el número en formato CLP sin los últimos dos dígitos y con símbolo $
                function formatNumberCLP(num) {
                    num = num.toFixed(2);
                    numSplit = num.split('.');
                    int = numSplit[0];
                    dec = numSplit[1].slice(0, -2); // Eliminar los últimos dos dígitos decimales
            
                    int = int.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                    return "$" + int + (dec ? ',' + dec : ''); // Agregar el símbolo $ y decimales solo si existen
                }
                
                // Obtener el número sin formato
                var originalNumber = {{ servicio.precio }};
                
                // Formatear el número usando JavaScript
                var formattedNumberCLP = formatNumberCLP(originalNumber);
                
                // Mostrar el número formateado
                document.write(formattedNumberCLP);
            </script>

        </strong></h1>
        <h6 class="text-center text-sm-center text-lg-start">{{servicio.sub_titulo}}</h6>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 text-center cajaDerecha">
    <span>
        <strong>
        {{servicio.descripcion}}
        </strong>
    </span>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Eliminar Servicio
      </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">¿Estas seguro que quieres eliminar este servicio?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <div class="alert alert-danger" role="alert">El servicio se eliminará para siempre
                </div>    
                <p>
                    <a href="{% url 'eliminarServicio' pk=servicio.id %}" class="btn btn-danger">Eliminar</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </p>
        </div>
      </div>
    </div>
  </div>
    </div>
        {% endfor %}
    </div>
    </div>
    
    <div class="tab-pane" id="otros-tab-pane" role="tabpanel" aria-labelledby="otros-tab" tabindex="0">

    <div class="row">

    <div class="card-body">
        <form action="addservicio" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Ingresa el trabajo</h2>
        <div class="form-group row">
            <label for="nombreServicio" class="col-12 col-sm-4 col-form-label">Nombre servicio:</label>
            <div class="col-12 col-sm-8">
            <textarea type="text" id="nombreServicio" name="nombreServicio" class="form-control" rows="5"></textarea>
            </div>
            <label for="subTitulo" class="col-12 col-sm-4 col-form-label">Subtitulo:</label>
            <div class="col-12 col-sm-8">
            <textarea type="text" id="subTitulo" name="subTitulo" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="descripcionServicio" class="col-12 col-sm-4 col-form-label">Descripcion Servicio:</label>
            <div class="col-12 col-sm-8">
            <textarea type="text" id="descripcionServicio" name="descripcionServicio" class="form-control" rows="3"></textarea>
            </div>
            <label for="precioServicio" class="col-12 col-sm-4 col-form-label">Precio:</label>
            <div class="col-12 col-sm-8">
            <textarea type="text" id="precioServicio" name="precioServicio" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-12 col-sm-4 col-form-label">Imagen del trabajo:</label>
            <div class="col-12 col-sm-8">
            <div class="input-group">
                <input type="file" id="fotosServicio" name="fotosServicio" accept="image/*" class="form-control">
            </div>
            </div>
        </div>
        <div class="text-center">
            <br>
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
        </form>
    </div>

    <!-- <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 cajaIzquierda">
        <img src="{% static 'imagenes/casaconstruccioncorta.png' %}" alt="CasaConstruccion" class="img-fluid rounded mx-auto d-block  ConstruccionCasa" >
        <h5 class="text-center"> Instalación y construcción de obras menores</h5>
        <h1 class="text-center text-sm-center text-lg-start"><strong>Precio: $39.990</strong></h1>
        <h6 class="text-center text-sm-center text-lg-start">Precio solo contempla visita y presupuesto de trabajo</h6>        
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha">
    <span>
        <strong >Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló 
        </strong>
    </span>
    </div>  -->
    
    </div>
    
    </div>
    
    </div>
    
</div>
    


{% endblock %}



<div class="container">
    {% for contacto in contactos %}
    <div class="row text-start fw-semibold" >
        <div class="card mb-4 shadow-lg border border-0 Textoderecho">
            <div class="card-body">
                <img src="{% static 'imagenes/Color_Full.png' %}" alt="Logocolor" class="img-fluid Logocolor">
                <p>Correo: {{contacto.correo_contacto}}</p>
                <h5 class="card-title fw-bold">Tipo de Trabajo: {{contacto.tipo_trabajo}} </h5>
                <p class="card-text text-start fw-semibold">Descripción: 
                <br>
                {{contacto.descripcion_trabajo}}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

