{% extends './base.html' %}


{% block contenido %}
{% load static %} 

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">


<div class="container text-center">
<div class="row Planauno">
<div id="carouselExampleAutoplaying" class="carousel col-md-6 col-sm-12 slide carousel-fade" data-bs-ride="carousel">
<div class="carousel-inner col-sm-6">
<div class="carousel-item active" data-bs-interval="10000">
    <a href="#">
        <img src="{% static 'imagenes/carrusel5.jpg' %}" class="d-block w-100 carrusel" alt="ImagenCarrusel1">
    </a>
</div>
<div class="carousel-item" data-bs-interval="10000">
    <a href="#">
        <img src="{% static 'imagenes/obracivil2.jpg' %}" class="d-block w-100 carrusel" alt="ImagenCarrusel2">
    </a>
</div>
<div class="carousel-item" data-bs-interval="10000">
<a href="#">
    <img src="{% static 'imagenes/obracivil3.jpg' %}" class="d-block w-100 carrusel" alt="ImagenCarrusel3">
</a>
</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="false"></span>
</button>
</div>

<div class="col-md-6 col-sm-12 justify-content-center">
<div class="card col-xl-12" style="box-shadow: none; ">
<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text6">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal m
</p>              <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
</div>
</div>



<div class="row row-cols-sm-1 row-cols-md-2 row-gap-5 mx-auto Cajatrabajos">


<div class="card mb-4 mx-auto Iconocolor">
<div class="row g-0">
    <div class="col-md-5">
        <a href="#">
            <img  src="{% static 'imagenes/gasfiter2.png' %}" class="img-fluid Imagentrabajos" alt="...">
        </a>
    </div>
    <div class="col-md-7 col-sm-12">
    <div class="card-body">
        <h5 class="card-title">Trabajos de Gasfiteria</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    </div>
    </div>
</div>
</div>    
<div class="card mb-4 mx-auto Iconocolor">
<div class="row g-0">
    <div class="col-md-5">
        <a href="#">
            <img src="{% static 'imagenes/fozaseptica.png' %}" class="img-fluid Imagentrabajos" alt="...">
        </a>
    </div>
    <div class="col-md-7">
    <div class="card-body">
        <h5 class="card-title">Trabajos de Instalación de fosas</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    </div>
    </div>
</div>
</div>    
<div class="card mb-4 mx-auto Iconocolor">
<div class="row g-0">
    <div class="col-md-5">
        <a href="#">
            <img src="{% static 'imagenes/bulldozer.png' %}" class="img-fluid Imagentrabajos" alt="...">
        </a>
    </div>
    <div class="col-md-7">
    <div class="card-body">
        <h5 class="card-title">Trabajos de Obras Menores</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    </div>
    </div>
</div>
</div>  

</div>  

<div class="mx-auto Carruselmedio">

    <div id="carruselgrande" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#">
                <img src="{% static 'imagenes/obracivil2.jpg' %}" class="d-block w-100 carrusel" alt="ImagenCarrusel1">
            </a>
        </div>
        <div class="carousel-item">
            <a href="">
                <img src="{% static 'imagenes/obracivil3.jpg' %}" class="d-block w-100 carrusel" alt="ImagenCarrusel2">
            </a>
        </div>
        <div class="carousel-item">
            <a href="">
                <img src="{% static 'imagenes/obracivil1.jpg' %}" class="d-block w-100 carrusel" alt="ImagenCarrusel3">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carruselgrande" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carruselgrande" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>    

</div>

<div class="row row-cols-sm-1 row-cols-md-4 row-gap-5 mx-auto CajaFooter">

<div class="card mb-4 Ultimacaja" >
    <div class="col-md-12">
    <a href="{% url 'fozaseptica' %}">
        <img src="{% static 'imagenes/fozas.png' %}" class="img-fluid Iconoherramientas" alt="...">
    </a>
    </div>
    <div class="col-md-12">
    <div class="card-body">
        <h5 class="card-title">Fozas Septicas</h5>
    </div>
    </div>
</div>

<div class="card mb-4 Ultimacaja" >
    <div class="col-md-12">
    <a href="{% url 'gasfiteria' %}">
        <img src="{% static 'imagenes/herramientras.png' %}" class="img-fluid Iconoherramientas" alt="...">
    </a>
    </div>
    <div class="col-md-12">
    <div class="card-body">
        <h5 class="card-title">Gasfiteria</h5>
    </div>
    </div>
</div>

<div class="card mb-4 Ultimacaja" >
    <div class="col-md-12">
    <a href="{% url 'obrasmenores' %}">
        <img src="{% static 'imagenes/obrasmenorescolor.png' %}" class="img-fluid Iconoherramientas" alt="...">
    </a>
    </div>
    <div class="col-md-12">
    <div class="card-body">
        <h5 class="card-title" >Obras menores</h5>
    </div>
    </div>
</div>

</div> 



</div>

{% endblock %}
