{% extends './base.html' %}

{% load static %} 

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="container">
    <div class="row">
        <p>
            <strong>Bienvenidos a JuanitoPuntoCom</strong>
        </p>
        <p>
            En el corazón de nuestra historia yace Juan Allende, un experto gasfiter, maestro constructor y contratista con más de dos décadas de dedicación al arte de la construcción. Originario de la vibrante Región Metropolitana, Juan ha llevado su pasión por la excelencia y su experiencia a lo largo de un viaje que abarca desde los bulliciosos centros urbanos hasta los pintorescos paisajes de la Región de Los Ríos.
        </p>
        <p>
            En JuanitoPuntoCom, nos enorgullece destacar el talento diverso de Juan, cuyas habilidades abarcan desde la resolución eficiente de problemas de gasfiteria hasta la supervisión integral de proyectos de construcción. Con más de dos décadas de experiencia, Juan ha forjado un camino de éxito que refleja nuestro compromiso inquebrantable con la calidad y la excelencia en cada proyecto que emprendemos.
        </p>
        <p>
            Acompáñennos en este recorrido por la historia de JuanitoPuntoCom, donde la destreza de Juan Allende se entrelaza con la esencia misma de nuestra empresa. Descubran cómo, desde la bulliciosa Región Metropolitana hasta los encantadores paisajes de Los Ríos, hemos dejado una huella duradera en el mundo de la construcción.
        </p>
        </p>
    </div>
</div>

{% endblock %}