{% extends './base.html' %}

{% load static %} 
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/servicios.css' %}">

<div class="Servicios col-12">

<ul class="nav nav-tabs" id="myTab" role="tablist">
<li class="nav-item" role="presentation">
    <button class="btn btn-outline-dark active" id="Gasfiteria-tab" data-bs-toggle="tab" data-bs-target="#Gasfiteria-tab-pane" type="button" role="tab" aria-controls="Gasfiteria-tab-pane" aria-selected="true">Gasfiteria</button>
</li>
<li class="nav-item" role="presentation">
    <button class="btn btn-outline-dark" id="FozasSepticas-tab" data-bs-toggle="tab" data-bs-target="#FozasSepticas-tab-pane" type="button" role="tab" aria-controls="FozasSepticas-tab-pane" aria-selected="false">Fozas Septicas</button>
</li>
<li class="nav-item" role="presentation">
    <button class="btn btn-outline-dark" id="ObrasMenores-tab" data-bs-toggle="tab" data-bs-target="#ObrasMenores-tab-pane" type="button" role="tab" aria-controls="ObrasMenores-tab-pane" aria-selected="false">Obras Menores</button>
</li>
<!-- <li class="nav-item" role="presentation">
    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
</li> -->
</ul>
<div class="tab-content" id="myTabContent">

<div class="tab-pane fade show active" id="Gasfiteria-tab-pane" role="tabpanel" aria-labelledby="Gasfiteria-tab" tabindex="0">
<div class="row">

<div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
    <img src="{% static 'imagenes/calefont.png' %}" alt="imagenprueba" class="img-fluid rounded mx-auto d-block calefont" >
    <h4 class="text-center"> Instalación y mantención de calefont y cañerias</h4>
    <h1 class="text-center text-sm-center text-lg-start"><strong>Precio: $39.990</strong></h1>
    <h6 class="text-center text-sm-center text-lg-start">Precio solo contempla visita y presupuesto de trabajo</h6>
</div>
<div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha">
<span>
    <strong >Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló 
    </strong>
</span>
</div>

</div>

</div>

<div class="tab-pane fade" id="FozasSepticas-tab-pane" role="tabpanel" aria-labelledby="FozasSepticas-tab" tabindex="0">
<div class="row">

<div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
    <img src="{% static 'imagenes/fozasepticaweb.png' %}" alt="FozasSepticas" class="img-fluid rounded mx-auto d-block FozasSepticas" >
    <h5 class="text-center"> Instalación y mantención de fozas septicas</h5>
    <h1 class="text-center text-sm-center text-lg-start"><strong>Precio: $399.990</strong></h1>
    <h6 class="text-center text-sm-center text-lg-start">Precio contempla visita, presupuesto e instalación</h6>
</div>
<div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha">
<span>
    <strong >Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló 
    </strong>
</span>
</div>

</div>
</div>

<div class="tab-pane fade" id="ObrasMenores-tab-pane" role="tabpanel" aria-labelledby="ObrasMenores-tab" tabindex="0">
<div class="row">

<div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 cajaIzquierda">
    <img src="{% static 'imagenes/casaconstruccioncorta.png' %}" alt="CasaConstruccion" class="img-fluid rounded mx-auto d-block  ConstruccionCasa" >
    <h5 class="text-center"> Instalación y construcción de obras menores</h5>
    <h1 class="text-center text-sm-center text-lg-start"><strong>Precio: $39.990</strong></h1>
    <h6 class="text-center text-sm-center text-lg-start">Precio solo contempla visita y presupuesto de trabajo</h6>        
</div>
<div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 cajaDerecha">
<span>
    <strong >Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló 
    </strong>
</span>
</div> 

</div>

</div>

</div>

</div>

{% endblock %}