
.Planauno{
    margin-top: 3%;
    margin-bottom: 10%;
}

.carrusel{
    max-height: 50rem;
    display: flex;
    margin-bottom: 5%;
}

.Cajatrabajos {
    justify-content: space-around;
    display: flex;
}

.Imagentrabajos{
    width: 200px;
    height: 140px;
    align-items: center;
    margin-top: 10%;
}

.Iconocolor{
    max-width: 400px;
}

.card{
    box-shadow: 4px 6px 2px 1px rgba(22, 22, 26, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;

}    

.Carruselmedio{
    margin: 3%;
}

.redesociales{
    max-height: 100rem;
    justify-content: space-around;

}

#iconoredes{
    max-width: 50px;
    justify-content: space-around;
}

